.profile
{
    display: block;
    position: absolute;
    bottom: 20px;
    right: 10px;
}
.pagination
{
  float:right
}

.pagination li {
  padding: 0.2rem 0.8rem;
  float:left;
  list-style: none;
}
.pagination .active
{
    border: solid 1px #333;
}
.navbar-header .menu{
    color:#fff;
    position: absolute;
    padding: 14px 0px;
    right:0;
}

.navbar-semi-dark{
    background: none;
    /*width : 240px;*/
    z-index: 0;
}
footer {
  position: fixed;
  width: 100%;
  bottom:0;
}

.ft-user:before {
    content: "\e9d7";
}

.user_access
{
    border: 1px solid #ccd6e6;
    padding: 0.5rem;
    font-size: 1rem;
    line-height: 1.25;
    color: #404E67;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border-radius: 0.25rem;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    float: left;
    overflow: auto;
}

.user_access button
{
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    padding: 0.25rem;
    transition: all 0.2s ease-in-out;
}

.user_access select
{
  border: none;
  -webkit-appearance: none;
  padding: 0.25rem;
  vertical-align: bottom;
}

.user_access span
{
    float: left;
    margin-right: 1rem;
}

.user_access .title
{
  font-weight: 600;
  line-height: 2;
  margin-left: 1rem;
}
